*{
    margin: 0;
    padding: 0;
}
#box{
    height:600px;
    width:800px;
    position: relative;
    margin: 0 auto;
}
#box>#image{
    position: absolute;
    width: 100%;
    height:100%;
    filter: blur(20px);
    -webkit-filter: blur(20px); /* Chrome, Opera */
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    display: block;
    left: 0;
    top:0;
    z-index: 0;

}
#box>#canvas{
    position: absolute;
    left: 0;
    top:0;
    z-index: 100;
}
#box>.button{
    display: block;
    position: absolute;
    z-index: 200;
    width: 100px;
    height: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
#box>#reset-button{
    left:200px;
    bottom: 20px;
    background-color: #058;
}
#box>#reset-button:hover{
    background-color: #047;
}
#box>#show-button{
    right:200px;
    bottom: 20px;
    background-color:forestgreen ;
}
#box>#show-button:hover{
    background-color:  limegreen;
}